.amplift-sign-out {
  width: 10px;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu {
  padding: 0.5rem; 
}

.menu a {
  text-align: center;
  color: rgba(0,0,0,0.3);
  padding: 1rem;
  text-decoration: none;
}

.menu a:hover {
  color: #5b668e;
}

.menu a.active {
  color: #bf250188;
}

main {
  padding: 1rem;
  margin: 1rem;
  
}

.name-card {
  width: 840px;
  height: 480px;
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: black;
  margin-bottom: 15px;
}

.profile-image{
  z-index: 10;
}

.hash-tags{
  padding: 15px;
}

.hash-tags .tag {
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid #5b668e;
  margin: 0px 5px 0px 5px;
  display: inline-block;
  font-size: large;
}

.hash-tags .tag:hover {
  background-color: #ffbbac88;
}

.card-messages {
  padding: 15px;
  
  border-radius: .25rem;
  background-color: #fff;
  border: 1px solid #5b668e;
}